.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.resume {
  font-weight: bold;
  font-size: 2rem;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  border-radius: 40%;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line:nth-child(1) {
  width: 40px;
}
.menu-btn .btn-line:nth-child(3) {
  width: 18px;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  width: 28px;
  background: white;
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  width: 28px;
  background: white;
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  /* opacity: 0.9; */
  visibility: hidden;
}
.menu.show {
  visibility: visible;
}
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.9);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: rgba(202, 202, 202, 0.5);
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: #808080;
  background-image: url("../img/Pic.jpg");
  background-size: contain;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /* border: solid 3px #46b2fa; */
}
.active {
  color: #06b0ff;
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
/* make home highlight
.menu .nav-item.current > a {
  color: #46b2fa;
} */
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: rgb(45, 121, 209);
  transform: scale(1.25);
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  /* background: #444; */
  /* color: rgb(53, 53, 53); */
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background: url(../img/background.jpg);
  /* background-size: contain; */
  background-color: rgb(242, 242, 242);
  background-size: 90%;
  background-position: 250% 90%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body#bg-img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background: rgba(199, 199, 199, 0.9); */
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  padding-bottom: 0;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem;
  /* background: rgba(73, 73, 73, 0.5); */
}

a {
  color: #1ba1aa;

  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #0d91b3;
}

main {
  padding: 4rem;
  min-height: 100vh;
}

main .icons {
  margin-top: 1.5rem;
}
main .icons a {
  padding-left: 0.4rem;
}
main .icons a:hover {
  color: rgb(43, 43, 43);

  transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #095863 3px solid;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #1478a0 5px solid;
}

/* .projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
} */
.projects img {
  width: 100%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #118696;
  transition: all 0.5s ease-out;
}

.boxes {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; */
  width: 50%;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  background: linear-gradient(45deg, #2f619b, #06b0ff, #a5b9c9);
  padding: 1.5rem 2.5rem;
  border-radius: 30px;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  padding: 0.3rem 1.5rem;
  background: black;
  color: rgb(255, 255, 255);
}
.boxes div:hover span {
  color: #000;
  color: white;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #eece1a;
  color: #000;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

#aboutme {
  font-size: 3.5rem;
}
#contactme,
#projects {
  font-size: 3.5rem;
  padding-bottom: 2rem;
}
#contactme {
  padding-bottom: 50px;
}
.cont {
  color: white;
}
#email,
#phone,
#address {
  font-size: 1.5rem;
}
.blur {
  filter: blur(8px);
}

/* #main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
} */
#aboutme,
#projects,
#contactme {
  font-size: 2.5rem;
  text-align: left;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/Pic.jpg");
    background-size: contain;
    background-position: 50% 50%;
    background-color: #808080;
    width: 150px;
    height: 150px;
  }
  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  body#bg-img {
    background: rgb(238, 238, 242);
    background-image: url(../img/background.jpg);
    background-size: 90%;
    background-position: 70% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    width: 28px;
    background: black;
  }
  .menu-btn.close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .menu-btn.close .btn-line:nth-child(3) {
    width: 28px;
    background: black;
    transform: rotate(-45deg) translate(7px, -6px);
  }
  #aboutme {
    padding-bottom: 30px;
  }
  #paddingg,
  .bio,
  .skills {
    text-align: left;
  }
  .projects {
    grid-template-columns: 1fr;
    text-align: left;
  }
  .boxes {
    width: 90%;
  }
  .boxes div {
    margin-left: 50px;
  }
  #email,
  #phone,
  #address {
    font-size: 0.9rem;
    color: white;
  }
  .menu-branding .portrait {
    background: #808080;
    background-image: url("../img/Pic.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%, 50%;
    width: 150px;
    height: 150px;
  }
  .lcon {
    display: none;
  }
}
#about {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #cce5ff 74%);
}
.scroll {
  cursor: pointer;
  display: block;
  font-size: 2rem;
  text-align: center;
}
.mailto {
  text-decoration: none;
  color: white;
}
#contact {
  position: relative;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #cce5ff 74%);
}
.exp-role {
  margin: 0.5rem 0;
}
.LI-profile-badge {
  margin-left: 15%;
  /* position: absolute; */
  /* left: 65%;
  top: 80%; */
}
