*{
    margin:0;
    padding:0;
    font-family: Asap,sans-serif;
    box-sizing: border-box ;
}
section {
    height: 100vh;
}
#page1{
    background-image: url(img/clone.jpg);
    background-attachment: fixed; 
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
    
}

#page1 h1{
color: white;
text-shadow: 0 0 15px rgba(255, 255, 255, 0.308), 0 0 10px rgba(255, 255, 255, 0.308);
font-weight: bold;
text-align: center;
font-size: 3.5em;
padding-top: 3%;
margin: auto;
display: table;
white-space: nowrap;
overflow: visible;
height: 90vh;
}

#fire{
    font-size: 2em;
    display: table;
    color: aliceblue;
    text-shadow: none;
    margin: auto;
    text-align: center;
}
body{
        background-size: cover;
margin: 0;
height: 100vh;
}
header{
    background: black; 
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.13), 0 0 10px rgba(255, 255, 255, 0.116);
}

header > h1{
    color:white;
    font-size: 30pt;
    text-align: center;
    font-family:'Asap', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: visible;
    padding: 20px;

}
.scoreboard{

    border: 5px solid white;
    width: 300px;
    margin: 60px auto;
    color: white;
    font-size: 30px;

    border-radius: 10px;
    padding: 30px;
    text-align: center;
    position: relative;
}
.badge{
background:rgb(218, 0, 0);
color: white;
padding: 10px;
font-size: 25px;
}
#userlabel{
    position: absolute;
    top:25px;
    padding: 10px;
    border-radius: 5px;
    left: -40px;
}
#complabel{
    position: absolute;
    top: 25px;
    padding: 10px;
    right: -40px;
    border-radius: 5px;
}
.result{

    font-size: 35px;
    margin-top: 60px;
    text-align: center;
    color: white;
}
.choices{
margin-top: 30px;
text-align: center;
white-space: nowrap;
overflow: visible;
}
.choice{
    
display: inline-block;
padding: 15px;
margin-top: 0px;
border: solid;
border-width: 0px;
border-color: rgb(0, 8, 32);
border-radius:50%;
transition: all 0.3s ease;
}
.choice:hover{
    background: rgba(1, 0, 5, 0.952);
    cursor: pointer;
}
#actionmsg{
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    white-space: nowrap;
overflow: visible;
}

.res > p{
    white-space: nowrap;
    overflow: visible;
text-align: center;
color:rgb(255, 255, 255);
font-size: 40px;
margin-top: 20px;
}
#page2{
    background-image: url(img/SECTION2.jpg);
    background-position: center;
    background-size: 100% 100%;
}
@media screen and (max-width: 1000px) and (min-width: 700px) 
{
    .lol, .scoreboard,#ffs, .choices, .end,#page2 h1{
        transform: scale(0.9);
        -moz-transform: scale(0.9);
    }
}

@media screen and (max-width: 830px) and (min-width: 750px) 
{
    .lol, .scoreboard,#ffs, .choices, .end,#page2 h1{
        transform: scale(0.8);
        -moz-transform: scale(0.8);
    }
}

@media screen and (max-width: 749px) and (min-width: 680px) 
{
    .lol, .scoreboard,#ffs, .choices, .end,#page2 h1{
        transform: scale(0.7);
        -moz-transform: scale(0.7);
    }
}

@media screen and (max-width: 679px) and (min-width: 580px) 
{
    .lol, .scoreboard,#ffs, .choices, .end, #page2 h1{
        transform: scale(0.6);
        -moz-transform: scale(0.6);
    }
 }

@media screen and (max-width: 579px) and (min-width: 300px) 
{
    .lol, .scoreboard,#ffs, .choices, .end, #page2 h1{
        transform: scale(0.5);
        -moz-transform: scale(0.5);
    }
}
@media screen and (max-width: 279px) and (min-width: 0px) 
{
    .lol, .scoreboard,#ffs, .choices, .end, #page2 h1{
        transform: scale(0.4);
        -moz-transform: scale(0.4);
    }
}